#footer

  -# cross-site navigation, add correct links
  %nav
    %ul
      %li
        %a(href="http://heartofclojure.eu" title="Head over to the Heart of Clojure site")
          %span Heart of Clojure
