$weights: bold bold, medium normal, normal normal;

@import url('https://fonts.googleapis.com/css?family=Halant:300,300i,400,400i,700,700i|Nunito:300,300i,400,400i,700,700i');

@mixin custom-sans($weight: normal) {
  font-family:  'Nunito', Helvetica, Arial, Sans-Serif;

  @if $weight == thin {
    font-weight: 100;
  }
  @else if $weight == light {
    font-weight: 300;
  }
  @else if $weight == medium {
    font-weight: 500;
  }
  @else if $weight == bold {
    font-weight: 600;
  }
  @else if $weight == black {
    font-weight: 900;
  }
  @else {
    font-weight: 400;
  }
}

@mixin custom-serif($weight: normal, $style: normal) {
  font-family: "Halant", Georgia, serif;

  @if $weight == bold {
    font-weight: 700;
  }
  @else if $weight == light {
    font-weight: 300;
  }
  @else {
    font-weight: 400;
  }

  font-style: $style;
}
