#header-container {
  width: 100%;
  border-bottom: 2px solid $red;
  padding-top: 1em;
  margin-bottom: 1.5em;
}

#container, #header {
  @include grid-container;

  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}
